# macOS
.DS_Store

# ---------------------------
# ANDROID / GRADLE
# ---------------------------
.gradle/
build/
*/build/
!gradle-wrapper.jar

# Android Studio
.idea/
*.iml

# Local config
local.properties

# ---------------------------
# NODE / EXPRESS
# ---------------------------
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*


# build outputs
dist/
coverage/
.env

# Optional: logs
*.log
logs/
